.manufacturers {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 800px;
  z-index: 0;
  margin-top: -70px;
  background-color: #0809a7;
  background-image: url(/manufacturers_cover.png);
  background-size: cover;
  background-position: center;
}

.manufacturers__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  height: auto;
  margin-top: 154px;
}

.manufacturers__title {
  font-family: 'FuturaFuturisC-Bold';
  font-weight: 700;
  font-size: 45px;
  line-height: 99.8%;
  text-align: center;
  color: #ffffff;
  margin: 0 0 57px;
}

.manufacturers__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  color: #ffffff;
  margin: 0 0 92px;
}

.item1 {
  background: url(/slider_item_1.png);
  background-size: 150px 94px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}
.item2 {
  background: url(/slider_item_2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}
.item3 {
  background: url(/slider_item_3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}
.item4 {
  background: url(/slider_item_4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}
.item5 {
  background: url(/slider_item_5.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}

@media screen and (max-width: 1440px) {
  .manufacturers {
    height: 55.556vw;
    margin-top: -4.861vw;
  }
  .manufacturers__container {
    max-width: 88.889vw;
    margin-top: 10.694vw;
  }
  .manufacturers__title {
    font-size: 3.125vw;
    margin: 0 0 2.958vw;
  }
  .manufacturers__subtitle {
    font-size: 1.389vw;
    line-height: 2.153vw;
    margin: 0 0 6.389vw;
  }

  .item1 {
    background-size: 10.417vw 6.528vw;
  }
  .item2 {
    background-size: 12.917vw 3.264vw;
  }
  .item3 {
    background-size: 7.361vw 7.361vw;
  }
  .item4 {
    background-size: 11.875vw 8.056vw;
  }
  .item5 {
    background-size: 12.708vw 2.778vw;
  }
}
